* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.to_do_list {
    margin: 20px;
    list-style: none;
}
.to_do_list li {
    cursor: pointer;
    font-size: 26px;
    margin: 30px 0;
}
.to_do_list h2 {
    display: inline-block;
}

.to_do_list i {
    font-size: 16px;
    color: red;
}

.completed {
    text-decoration: line-through red 5px;
}

.input {
    margin: 30px;
    height: 35px;
    width: 400px;
}
button {
    padding: 5px 10px;
    border-radius: 15px;
}