* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.to_do_list {
    margin: 20px;
    list-style: none;
}
.to_do_list li {
    cursor: pointer;
    font-size: 26px;
    margin: 30px 0;
}

.to_do_list i {
    font-size: 16px;
    color: red;
}

.completed {
    text-decoration: line-through;
    text-decoration-color: red;
}